apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: product-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      nodeSelector:
        role: app
      containers:
      - name: frontend
        image: rakhidhomane/product-app-frontend:19
        ports:
        - containerPort: 80
       
